# Laboratorio 6: Regresión Logística #

### Importación de funciones ###

In [24]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

### Funciones Predeterminadas ###

In [25]:
def hipo(X, theta):
    z = np.dot(theta, X.T)
    return 1/(1+np.exp(-(z))) - 0.0000001


def costo(X, y, theta):
    y1 = hipo(X, theta)
    return -(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))


def gradiente(X, y, theta, learning_rate, max_iter):
    m =len(X)
    J = [costo(X, y, theta)] 
    for i in range(0, max_iter):
        h = hipo(X, theta)
        for i in range(0, len(X)):
            theta = theta - (learning_rate * costo(X, y, theta))
        J.append(costo(X, y, theta))
    return J, theta

### Descarga de la data y preparación ###

Se carga el dataset, se le modifica los nombres a las columnas para que estén los correctos y se observa cómo se distribuye inicialmente la data.

In [26]:
nombres = ['tipos', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium',
           'Total Phenols', 'Flavanoids', 'Nonflavanoid Phenols', 'Proanthocyanins',
           'Color Intensity', 'Hue', 'OD280/OD315 of diluted Wines', 'Proline']
dataset = pd.read_csv('wine_data.csv', names = nombres)
dataset['unos'] = 1

In [27]:
dataset.head(5)

,tipos,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted Wines,Proline,unos
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [28]:
dataset.describe()

,tipos,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted Wines,Proline,unos
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.0
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,1.0
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.0
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,1.0
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,1.0
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,1.0
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,1.0
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,1.0

In [29]:
dataset.dtypes

tipos                             int64
Alcohol                         float64
Malic Acid                      float64
Ash                             float64
Alcalinity of Ash               float64
Magnesium                         int64
Total Phenols                   float64
Flavanoids                      float64
Nonflavanoid Phenols            float64
Proanthocyanins                 float64
Color Intensity                 float64
Hue                             float64
OD280/OD315 of diluted Wines    float64
Proline                           int64
unos                              int64
dtype: object

In [30]:
dataset['tipos'].unique()

array([1, 2, 3], dtype=int64)

In [31]:
y = dataset['tipos']
X = dataset

In [32]:
print(X.shape, y.shape)

(178, 15) (178,)

In [33]:
X.dtypes

tipos                             int64
Alcohol                         float64
Malic Acid                      float64
Ash                             float64
Alcalinity of Ash               float64
Magnesium                         int64
Total Phenols                   float64
Flavanoids                      float64
Nonflavanoid Phenols            float64
Proanthocyanins                 float64
Color Intensity                 float64
Hue                             float64
OD280/OD315 of diluted Wines    float64
Proline                           int64
unos                              int64
dtype: object

In [34]:
X = X.drop('tipos', axis = 1)

In [35]:
X.dtypes

Alcohol                         float64
Malic Acid                      float64
Ash                             float64
Alcalinity of Ash               float64
Magnesium                         int64
Total Phenols                   float64
Flavanoids                      float64
Nonflavanoid Phenols            float64
Proanthocyanins                 float64
Color Intensity                 float64
Hue                             float64
OD280/OD315 of diluted Wines    float64
Proline                           int64
unos                              int64
dtype: object

In [36]:
print(X.shape, y.shape)

(178, 14) (178,)

### Estandarización, preparación y sparación de Train y Test

In [37]:
stdscl = StandardScaler()
X_trans = stdscl.fit_transform(X)
print(X_trans)

[[ 1.51861254 -0.5622498   0.23205254 ...  1.84791957  1.01300893
   0.        ]
 [ 0.24628963 -0.49941338 -0.82799632 ...  1.1134493   0.96524152
   0.        ]
 [ 0.19687903  0.02123125  1.10933436 ...  0.78858745  1.39514818
   0.        ]
 ...
 [ 0.33275817  1.74474449 -0.38935541 ... -1.48544548  0.28057537
   0.        ]
 [ 0.20923168  0.22769377  0.01273209 ... -1.40069891  0.29649784
   0.        ]
 [ 1.39508604  1.58316512  1.36520822 ... -1.42894777 -0.59516041
   0.        ]]

In [38]:
y_arr = np.array(y)
X_arr = np.array(X_trans)

In [39]:
X_train, X_test = train_test_split(X_arr, test_size=0.30)
y_train, y_test = train_test_split(y_arr, test_size=0.30)

In [ ]:
m, n = X_trans.shape
theta_0 = np.random.rand(n, 1)